{% load staticfiles %}
<html>
    <head>
        <title>Nao Web Interface</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/sb-admin-2.css' %}">
        <link rel="stylesheet" href="{% static 'css/timeline.css' %}">
        <link rel="stylesheet" href="{% static 'css/morris.css' %}">
        <link rel="stylesheet" href="{% static 'css/metisMenu.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
    </head>
    <body>
      <div id="wrapper">

      <!-- Navigation -->
      <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Nao Web Interface</a>
          </div>
          <!-- /.navbar-header -->

          <div class="navbar-default sidebar" role="navigation">
              <div class="sidebar-nav navbar-collapse">
                  <ul class="nav" id="side-menu">
                      <li>
                          <a href="#">About  <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
                      </li>
                      <li>
                          <a href="#">Features   <span class="glyphicon glyphicon-console" aria-hidden="true"></span></a>
                      </li>
                      <li>
                          <a href="#"><i class="fa fa-edit fa-fw"></i> Controlling NAO</a>
                      </li>

                  </ul>
              </div>
              <!-- /.sidebar-collapse -->
          </div>
          <!-- /.navbar-static-side -->
      </nav>

      <div id="page-wrapper">
          <div class="row">
              <div class="col-lg-12">
                  <h1 class="page-header">Admin Dashboard</h1>
              </div>
          </div>

          <div class="row">
              <div class="col-lg-12">
                  <div class="jumbotron">
                      <h1 align="center">Welcome on the Nao Web Application</h1>
                      <p align="center">Here, you will be able to control the Nao robot and see what orders he is receiving from the server</p>
                      <p align="center"><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
                  </div>
              </div>
          </div>

          <div class="row">
              <div class="col-lg-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">About</div>
                    <div class="panel-body">
                        <b>How to use the Nao application</b>
                        <ul>
                          <li><b>First</b>, make sure the server is running and the robot you want to control is switched on and that he is connected to the network (nao-wifi)</li>
                        </ul>
                        <ul>
                          <li><b>Second</b>, Press the button Start App below. A connection message should have been sent to the server</li>
                        </ul>
                        <p align="center"><a class="btn btn-primary btn-lg" href="#" role="button">Start Application</a> <a class="btn btn-danger btn-lg" href="#" role="button">Stop Application</a></p>
                    </div>
                </div>
              </div>
          </div>

          <!-- /.row -->
          <div class="row">
              <div class="col-lg-3 col-md-6">
                  <div class="panel panel-primary">
                      <div class="panel-heading">
                          <div class="row">
                              <div class="col-xs-3">
                                  <i class="fa fa-comments fa-5x"></i>
                              </div>
                              <div class="col-xs-9 text-right">
                                  <div class="huge">12</div>
                                  <div>Features</div>
                              </div>
                          </div>
                      </div>
                      <a href="#">
                          <div class="panel-footer">
                              <span class="pull-left">View Details</span>
                              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                              <div class="clearfix"></div>
                          </div>
                      </a>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6">
                  <div class="panel panel-green">
                      <div class="panel-heading">
                          <div class="row">
                              <div class="col-xs-3">
                                  <i class="fa fa-tasks fa-5x"></i>
                              </div>
                              <div class="col-xs-9 text-right">
                                  <div class="huge">4</div>
                                  <div>Features in Dev</div>
                              </div>
                          </div>
                      </div>
                      <a href="#">
                          <div class="panel-footer">
                              <span class="pull-left">View Details</span>
                              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                              <div class="clearfix"></div>
                          </div>
                      </a>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6">
                  <div class="panel panel-yellow">
                      <div class="panel-heading">
                          <div class="row">
                              <div class="col-xs-3">
                                  <i class="fa fa-shopping-cart fa-5x"></i>
                              </div>
                              <div class="col-xs-9 text-right">
                                  <div class="huge">124</div>
                                  <div>Orders sent</div>
                              </div>
                          </div>
                      </div>
                      <a href="#">
                          <div class="panel-footer">
                              <span class="pull-left">View Details</span>
                              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                              <div class="clearfix"></div>
                          </div>
                      </a>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6">
                  <div class="panel panel-red">
                      <div class="panel-heading">
                          <div class="row">
                              <div class="col-xs-3">
                                  <i class="fa fa-support fa-5x"></i>
                              </div>
                              <div class="col-xs-9 text-right">
                                  <div class="huge">2</div>
                                  <div>Errors</div>
                              </div>
                          </div>
                      </div>
                      <a href="#">
                          <div class="panel-footer">
                              <span class="pull-left">View Details</span>
                              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                              <div class="clearfix"></div>
                          </div>
                      </a>
                  </div>
              </div>
          </div>
          <!-- /.row -->
          <div class="row">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <i class="fa fa-bar-chart-o fa-fw"></i> Lastest orders sent
                      </div>
                      <!-- /.panel-heading -->
                      <div class="panel-body">
                          <div class="row">
                              <div class="col-lg-12">
                                  <div class="table-responsive">
                                      <table class="table table-bordered table-hover table-striped">
                                          <thead>
                                              <tr>
                                                  <th># ID</th>
                                                  <th>Date</th>
                                                  <th>Time</th>
                                                  <th>Name</th>
                                              </tr>
                                          </thead>
                                          <tbody>
                                              <tr>
                                                  <td>0001</td>
                                                  <td>17/12/2015</td>
                                                  <td>8:36 AM</td>
                                                  <td>Connect To</td>
                                              </tr>
                                              <tr>
                                                  <td>0002</td>
                                                  <td>17/12/2015</td>
                                                  <td>8:38 AM</td>
                                                  <td>Init Robot</td>
                                              </tr>
                                              <tr>
                                                  <td>0003</td>
                                                  <td>17/12/2015</td>
                                                  <td>8:40 AM</td>
                                                  <td>Take Picture</td>
                                              </tr>
                                              <tr>
                                                  <td>0004</td>
                                                  <td>17/12/2015</td>
                                                  <td>8:42 AM</td>
                                                  <td>Kick</td>
                                              </tr>
                                              <tr>
                                                  <td>0005</td>
                                                  <td>17/12/2015</td>
                                                  <td>8:50 AM</td>
                                                  <td>Disconnect</td>
                                              </tr>
                                              <tr>
                                                  <td>0006</td>
                                                  <td>17/12/2015</td>
                                                  <td>8:53 AM</td>
                                                  <td>Mime</td>
                                              </tr>
                                          </tbody>
                                      </table>
                                  </div>
                                  <!-- /.table-responsive -->
                              </div>
                              <!-- /.col-lg-4 (nested) -->
                          </div>
                          <!-- /.row -->
                      </div>
                      <!-- /.panel-body -->
                  </div>
                  <!-- /.panel -->
              </div>
              <!-- /.col-lg-8 -->
          </div>
          <!-- /.row -->
      </div>
      <!-- /#page-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- jQuery -->

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'js/metisMenu.min.js' %}"></script>
    <!-- Morris Charts JavaScript -->
    <script src="{% static 'js/raphael-min.js' %}"></script>
    <script src="{% static 'js/morris.min.js' %}"></script>
    <script src="{% static 'js/morris-data.js' %}"></script>
    <!-- Custom Theme JavaScript -->
    <script src="{% static 'js/sb-admin-2.js' %}"></script>
    </body>
</html>
